<h1>General</h1>
<ul>
<li><a href="/index.html">About</a></li>
<li><a href="/downloads.html">Downloads</a></li>
<li><a href="/license.html">License</a></li>
<li><a href="/trademarks.html">Trademarks</a></li>
<li><a href="/press.html">Press</a></li>
<li><a href="https://www.openoffice.org/">OpenOffice.org website</a></li>
</ul>
<h1>Community</h1>
<ul>
<li><a href="/get-involved.html">Get Involved</a></li>
<li><a href="/orientation/index.html">Orientation</a></li>
<li><a href="/mailing-lists.html">Mailing Lists</a></li>
<li><a href="/social.html">Social Networking</a></li>
<li><a href="/events.html">Events</a></li>
<li><a href="https://www.openoffice.org/support/">Support</a></li>
<li><a href="/native-lang.html">Native Language</a></li>
<li><a href="https://cwiki.apache.org/confluence/display/OOOUSERS/">Planning Wiki</a></li>
<li><a href="/people.html">People</a></li>
<li><a href="/community-faqs.html">Community FAQs</a></li>
</ul>
<h1>Development</h1>
<ul>
<li><a href="/source.html">Source Code</a></li>
<li><a href="/bug-tracking.html">Bug Tracking</a></li>
<li><a href="/qa.html">Quality Assurance</a></li>
<li><a href="/translate.html">Translation</a></li>
<li><a href="/website-local.html">Website</a></li>
<li><a href="/security.html">Security Reports</a></li>
<li><a href="/contributing-code.html">Contributing Code</a></li>
<li><a href="/developer-faqs.html">Developer FAQs</a></li>
</ul>
<h1>Project Management PMC</h1>
<ul>
<li><a href="https://blogs.apache.org/OOo/">Project Blog</a></li>
<li><a href="/pmc-faqs.html">PMC FAQs</a></li>
</ul>
<h1>The Apache Software Foundation</h1>
<ul>
<li><a href="https://www.apache.org/">Website</a></li>
<li><a href="https://www.apache.org/licenses/">License</a></li>
<li><a href="https://www.apache.org/security/">Security</a></li>
<li><a href="https://www.apache.org/events/current-event">Events</a></li>
<li><a href="https://www.openoffice.org/donations.html">Donations</a></li>
<li><a href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
<li><a href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
</ul>

